.inputPanel {
    border: 1px solid #459df5;
    display: flex;
    height: 2.5rem;
    border-radius: 0.25rem;
    width: 100%;
    background: var(--white-color);
}

.inputStyle {
    border: none;
    outline: none;
    color: var(--black-color);
    width: 100%;
    background: var(--white-color);
}