.tableColumnItem{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tableColumnItem:hover {
    background: rgba(0, 0, 0, 0.15);
}


.text {
    display: flex;
    margin-left: 0.5em;
    color: var(--white-blue);
}

.smallSize {
    width: 2rem;
}

.mediumSize {
    width: 9rem;
}

.largeSize {
    width: 12rem;
}

.xlSize {
    width: 20rem;
}

.autoSize {
    flex-grow: 1;
}

.icon{
    display: flex;
}

.iconInvisible{
    display: none;
}


