.header {
  display: flex;
  width: 100%;
}

.tableRowItemCheckBox {
  display: flex;
  width: 4em;
  height: 3.5em;
  background: #459df5;
  align-items: center;
  justify-content: flex-start;
}

.checkBox {
  margin-left: 0.5em;
}

.tableRowItemNumber {
  display: flex;
  width: 6.75em;
  height: 3.5em;
  background: #459df5;
  align-items: center;
  justify-content: flex-start;
}

.tableRowItemDate {
  display: flex;
  width: 11em;
  height: 3.5em;
  background: #459df5;
  align-items: center;
  justify-content: flex-start;
}

.tableRowItemPositions {
  display: flex;
  width: 6em;
  height: 3.5em;
  background: #459df5;
  align-items: center;
  justify-content: flex-start;
}

.tableRowItemSumma {
  display: flex;
  width: 8em;
  height: 3.5em;
  background: #459df5;
  align-items: center;
  justify-content: flex-start;
}

.tableRowItemFIO {
  display: flex;
  width: 100%;
  height: 3.5em;
  background: #459df5;
  align-items: center;
  justify-content: flex-start;
}

.tableRowItemStatus {
  display: flex;
  width: 11em;
  height: 3.5em;
  background: #459df5;
  align-items: center;
  justify-content: flex-start;
}

.text {
  display: flex;
  margin-left: 0.5em;
  color: #fff;
}
