.solidButton {
  border: none;
  display: flex;
  border-radius: 4px;
  background: #459df5;
  align-content: center;
  align-items: stretch;
}

.solidButtonRed {
  border: none;
  display: flex;
  border-radius: 4px;
  background: var(--red-color);
  align-content: center;
  align-items: stretch;
}

.transparentButton {
  border: none;
  display: flex;
  background: transparent;
  align-content: center;
  align-items: stretch;
}

.buttonWhite {
  display: flex;
  background: transparent;
  border: none;
  color: var(--white-color);
  text-align: center;
  margin: auto;
}

.buttonPrimary {
  display: flex;
  background: transparent;
  border: none;
  color: #459df5;
  text-align: center;
  margin: auto;
}

.buttonSecondary {
  display: flex;
  background: transparent;
  border: none;
  color: var(--red-color);
  text-align: center;
  margin: auto;
}

.sizeMedium {
  display: flex;
  height: 2rem;
}

.sizeBig {
  display: flex;
  height: 2.5rem;
}
