.solidbuttonwithicon{
    border: none;
    display: flex;
    flex-direction: row;
    height: 32px;
    border-radius: 4px;
    width: 113px;
    background: #459DF5;
}

.filtericon{
    mask: url("../../icons/filter.svg");
    background: #FFFFFF;
    height: 16px;
    width: 16px;
    margin: 0px 8px;
    align-self: flex-start;
}

.solidbutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: transparent;
    border: none;
    color: #FFFFFF;
    width: 100%;
}