.button{
    display: flex;
    color: var(--color-blue);
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.buttonIcon{
    display: flex;
    height: 16px;
    width: 16px;
    background-image: url("../../icons/sun.svg");
    margin-right: 8px;
}