.panel {
  display: flex;
  height: 88px;
  background: #ebf0f5;
  margin-top: 12px;
}

.panelInVisible {
  display: none;
}

.inputDateFrom {
  padding-top: 16px;
  margin-left: 16px;
  height: 100%;
  width: 142px;
}

.inputDateTo {
  padding-left: 4px;
  padding-top: 42px;
  height: 100%;
  width: 142px;
}

.inputStatus {
  padding-top: 16px;
  margin-left: 16px;
  height: 100%;
  width: 142px;
}

inputSummaFrom {
  padding-top: 16px;
  margin-left: 16px;
  height: 100%;
  width: 142px;
}

.inputSummaTo {
  padding-left: 4px;
  padding-top: 42px;
  height: 100%;
  width: 142px;
}

.buttonApplay {
  padding-left: 32px;
  padding-top: 42px;
  height: 100%;
  width: 142px;
}
