.panel {
  height: 6.5rem;
  background: var(--white-blue);
  margin-top: 1rem;
}

.panelInVisible {
  display: none;
}

.content{
  display: flex;
  width: 100%;
  margin: 1rem;

}

.inputDateFrom {
  width: 12rem;
  display: flex;
  align-items: flex-end;
}

.inputDateTo {
  width: 12rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: flex-end;
}

.inputStatus {
  width: 12rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: flex-end;
}

.inputSummaFrom {
  width: 12rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: flex-end;
}

.inputSummaTo {
  width: 12rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: flex-end;
}

.buttonApplay {
  width: 12rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: flex-end;
}
